body {
    position: relative;
    font-family: "serif ,Tahoma, Helvetica, Arial, sans-serif,Trebuchet MS, Verdana";
}



i {
    font-style: normal;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.total {
    width: 1190px;
    margin: 0 auto;
}

a {
    text-decoration: none;

}

a:hover {
    color: #ff8800;
}

.page_top {
    width: 100%;
    height: 60px;
    background: url(../images/page_top.jpeg) no-repeat top center;
    background-color: #fff;
}

.page_content>a {
    width: 990px;
    height: 60px;
    display: block;
}

.hd_main {
    height: 100px;
    /* width: 100%; */

}
.hd_logo{
    position: relative;
}
.hd_main_logo{
    background-color: rgb(201, 127, 127);
    height: 100px;
}
.hd_main_seach{
    background-color: rgb(138, 236, 168);
    height: 100px;
}
.sever_call{
    background-color: rgb(82, 122, 253);
    height: 100px;
}
.hd_logo>a{
    overflow: hidden;
    display: block;
    height: 100px;
    width: 200px;
    float: left;
}
.city_selector{
    float: left;
    cursor: pointer;
}
.hd_logo>a>img{
    height: 95px;
    width: 250px;
}
.hd_nav {
    height: 40px;
    background-color: rgb(94, 153, 79);
}

.hd_login_left {
    float: left;
}

.hd_login_left>li {
    margin: 0 2px;
}

.hd_top_inner li {

    height: 30px;
    float: left;
    line-height: 30px;

}

.hd_top_inner a>img {
    height: 22px;
    vertical-align: middle;
}

.hd_top_inner li>a {
    font-size: 12px;
    color: #404040;
    overflow: hidden;
    position: relative;
}

.lr_page {
    margin: 100px auto;
    width: 400px;
    background-color: #fff;

}

.closebtn {
    position: absolute;
    font-size: 12px;
    color: #fff;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    background-color: #f05757;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.choose_tab {
    background-color: #3aacee;
    color: #fff;
    position: relative;
    width: 100%;
    height: 60px;

}

.choose_div {
    padding: 10px;
    width: 100%;
    position: relative;
    height: 350px;
    background-color: #fff;
}

.choosed_tab {
    background-color: #fff;
    color: #000;
}

.choosed_div {
    display: block !important;
}

.login_tab,
.regist_tab {
    font-size: 30px;
    font-weight: 800;
    height: 100%;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    float: left;
    width: 50%;
    cursor: pointer;

}

.login_regist {
    display: none;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.login_div,
.regist_div {
    width: 95%;
    position: absolute;
    display: none;
}


.hd_top_inner a:hover {
    color: #ff8800 !important;
}

.hd_nav_right {
    float: right;
}

.hd_nav_right>li {
    padding: 0 10px;
    position: relative;
}

.hd_nav_right>li:nth-child(3)>a,
.hd_nav_right>li:nth-child(4)>a,
.hd_nav_right>li:nth-child(5)>a {
    color: #ff8800;
}

.hd_nav_right>li:nth-child(6),
.hd_nav_right>li:nth-child(7) {
    position: relative;
    padding-right: 20px;
}

.hd_nav_right>li:nth-child(6)>a,
.hd_nav_right>li:nth-child(7)>a {
    position: relative;

}

.drop_down {
    position: absolute;
    background-color: #fff;
    top: 29px;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    border: 0px 1px 1px solid #eee;
    display: none;
    z-index: 10;
}

.drop_down>a {
    display: block;
    font-size: 12px;
    width: 100%;
    color: #404040;
    text-align: center;
}

.icon_rotate {
    transform: rotate(180deg);
    transition: 0.5s ease;
}

.hd_icon {
    position: absolute;
    left: 56px;
    top: 5px;
    width: 5px;
    height: 3px;
    background: url(../images/tuniu_sprites.png) no-repeat -8px -13px;
}

.hd_map {
    display: none;
    position: absolute;
    left: -935px;
    top: 29px;
    background-color: #fff;
    padding: 20px 0 30px;
    z-index: 10;
}

.hd_map>dt {
    font-size: 18px;
    padding: 0px 40px;
    float: left;
    font-weight: 700;
    height: 190px;
}

.hd_map>dt:nth-of-type(1) {
    color: green;
}

.hd_map>dt:nth-of-type(2) {
    color: rgb(180, 180, 0);
}

.hd_map>dt:nth-of-type(3) {
    color: rgb(40, 40, 160);
}

.hd_map>dt:nth-of-type(4) {
    color: rgb(163, 24, 124);
}

.hd_map>dd {
    float: left;
    font-size: 12px;
    display: block;
    width: 100px;
    margin: 0;
}

.hd_map>dd>a {
    height: 30px;
    display: block;
    padding-right: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #404040;
}

.hd_icon_all {
    width: 18px;
    height: 13px;
    display: block;
    background: url(../images/tuniu_sprites.png) no-repeat;
    margin-top: 9px;
}

.icon_weibo {
    background-position: -40px -50px;
}

.icon_weibo:hover {
    background-position: -86px -49px;
}

.icon_download {
    width: 11px;
    height: 26px;
    display: block;
    background: url(../images/head_icon_qrcode.gif) no-repeat -10px 0;
}

.icon_weixin {
    background-position: -63px -49px;
}

.icon_mailbox {
    background: url(../images/hd_mailbox.png) no-repeat center;
    width: 15px;
    height: 10px;
    display: block;
    margin-top: 9px;
}

.icon_appDownLoad {
    display: none;
    z-index: 10;
    position: absolute;
    left: -200px;
    top: 29px;
    height: 310px;
    width: 274px;
    background: url(../images/app_download.png)no-repeat top right;
}

.icon_erweima {
    display: none;
    position: absolute;
    z-index: 10;
    left: -261px;
    top: 29px;
    width: 299px;
    height: 209px;
    background: url(../images/erweima_v2.gif) no-repeat center;
}

/* 主体县空白 */
.main {
    height: 2000px;
}

.mainBox {
    width: 100%;
    height: 400px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.hotTour {
    background-color: #dd5a5a;
}

.longTour {
    background-color: #eee568;
}

.outTour {
    background-color: #b5eea4;
}

.selfTour {
    background-color: #8bf0d1;
}

.inTour {
    background-color: #2da6ec;
}

/* 固定的多个页面导航信息栏------ */

.left_fix {
    position: fixed;
    left: 50%;
    top: 100px;
    margin-left: -650px;
    display: none;
    z-index: 10;
}

.left_fix>li:nth-child(even) {
    width: 20px;
    height: 1px;
    background-color: #eaeaea;
    margin: 0 auto;
}

.left_fix>li:nth-child(odd) {
    box-sizing: border-box;
    text-align: center;
    width: 36px;
    height: 40px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    padding: 5px;
}

.current {
    color: #fff;
}

.left_fix>li>a {
    width: 30px;
    height: 30px;
    display: block;
    color: #666;
}

.bottom_box {
    width: 100%;
    height: 147px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.bottom_close {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(70, 214, 233);
    z-index: 20;
}
.bottom_box_bg{
    position: absolute;
    width: 100px;
    height: 195px;
    left: 0;
    top:-45px;
}
.bottom_box_appbtn{
    width: 80px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 770px;
}
.getgifts{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 35px;
    left: 50%;
}
.bottom_box_bg>a{
    height: 120px;
    width: 450px;
    top: 60px;
    left: 55px;
    position: absolute;
}
.bottom_box_inner {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 100%;
}
.bottom_close:hover{
    transform: rotate(180deg);
    transition: all .5s ;
    
}

.bottom_ad {
    width: 110px;
    height: 70px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: fixed;
    bottom: 10px;
    left: -110px;
    background-color: #333;
}
.right_fix_full{
    width: 100%;
    height: 100%;
    background-color: #333;
    position: relative;
}
.right_fix_full>div>span{
    position: relative;
}
.full_ad_pic{
    position: absolute;
    top: 0;
    left: -215px;
    display: none;
} 
.right_fix {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
}
.full_icons{
    margin-top: 10px;
}
.app_icon{
    position: absolute;
    top: 0;
    left: -274px;
    display: none;
}
.full_ad:hover .full_ad_pic{
    display: block;
}
.bottom_ad{
    background: url(../images/bottom_ad.png) no-repeat;
}
.full_ad>a{
    display: block;
    width: 100%;
    height: 148px;
    background: url(../images/right_fix_ad.png) no-repeat;
}
.right_fix_full>div>span{
    display: block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-top: 1px solid #666;
}
.right_fix_full span>a{
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    color: #dddddd;
}
.full_buttom{
    width: 100%;
    position: absolute;
    top: 100%;
    margin-top: -150px;
}
.icon_entity{
    position: absolute;
    left: -80px;
    top: 0;
    width: 80px;
    height: 40px;
    background: #333;
    color: #b86f02dc;
    border-left: 4px solid #b86f02dc;
    box-sizing: border-box;
    display: none;
    cursor: pointer;
}
.icon_current{
    display: block !important;
}
.slideInLeft{
    animation-name: slideInLeft;
    transition: all 0.5s;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(0);
    }
}
